.mainLogin_container {
  height: 100vh;
  background-color: #f5f5f5; /* Change background color to a light gray */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-div {
  height: 50%;
  border: 1px solid #ddd; /* Lighten border color */
  width: 30%;
  border-radius: 10px; /* Increase border radius for rounded corners */
  background-color: #fff; /* Change background color to white */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 70%; /* Increase input width */
  margin: 10px 0; /* Adjust margin */
  padding: 12px; /* Increase padding */
  border: 1px solid #ddd; /* Add border */
  border-radius: 5px; /* Add border radius */
  outline: none;
  transition: border-color 0.3s; /* Add transition for smoother effect */
}

input[type="text"] {
  box-sizing: border-box;
}

.btn {
  width: 70%; /* Increase button width */
  padding: 12px; /* Increase padding */
  border-radius: 5px; /* Add border radius */
  font-size: 16px;
  background-color: #4caf50; /* Change button color to green */
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for smoother effect */
}

.btn:hover {
  background-color: #45a049; /* Darken button color on hover */
}
